# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so

# Virtual Environments
env/
venv/
ENV/
.venv

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# PyCharm
.idea/

# OS
.DS_Store
Thumbs.db
*.swp

# Environment variables
.env
